.CurrentList {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 640px;
  height: 136px;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media only screen and (min-width: 1200px) {
  .CurrentList {
    width: 75%;
    max-width: 1200px;
  }
}

@media only screen and (min-height: 1000px) {
  .CurrentList {
    height: 180px;
  }
}

.CurrentList-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 4px 16px;
  list-style-type: none;
  overflow-y: auto;
}

.CurrentList-list > li {
  display: inline;
  position: relative;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1020));
  font-weight: 300;
  line-height: 1.4;
  text-transform: capitalize;
  text-align: center;
  color: #999;
}

@media only screen and (min-width: 1000px) {
  .CurrentList-list > li {
    font-size: 18px;
    line-height: 1.6;
  }
}

.CurrentList-list li:first-of-type .CurrentList-dot {
  display: none;
}

.CurrentList-list > li:not(:last-of-type) {
  margin-right: 6px;
}

.CurrentList-dot {
  margin-right: 6px;
  color: #666;
}