.Dialog-open,
.Dialog-closed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, .75);
  z-index: 9900;
}

.Dialog-closed {
  display: none;
}

.Dialog-conent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  min-width: 300px;
  max-width: 500px;
  height: 200px;
  margin: 0 auto;
  padding: 24px;
  background-color: grey;
  background-image: radial-gradient(140% 170% at 65% 20%, #484848, #282828 60%);
  border: 2px solid #666;
  border-radius: 5px;

  /* animated properties */
  margin-top: 0;
  opacity: 0;
  animation: slideDownDialog .3s ease-out 1 forwards;
}

.Dialog-text {
  font-size: 16px;
  text-align: center;
  color: #ccc;
  margin-bottom: 36px;
}

.Dialog-question {
  font-weight: 300;
  margin-bottom: 12px;
}

.Dialog-songTitle {
  font-weight: 400;
  letter-spacing: 1px;
  color: #ddd;
}

.Dialog-buttons {
  text-align: center;
}

.Dialog-button {
  width: 100px;
  height: 40px;
  font-size: 16px;
  color: #eee;
  border: none;
  border-radius: 5px;
}

.Dialog-button:hover {
  cursor: pointer;
}

.Dialog-cancel {
  background-color: var(--btn-color-red);
  margin-right: 40px;
}

.Dialog-cancel:hover {
  filter: saturate(150%);
}

.Dialog-ok {
  background-color: var(--btn-color-green);
}

.Dialog-ok:hover {
  filter: saturate(250%);
}

@keyframes slideDownDialog {
  to {
    margin-top: 160px;
    opacity: 1;
  }
}

.padding-right-20 {
  padding-right: 20px;
}