.DisplayMinimal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
  background-color: rgba(0, 0, 0, .2);
  overflow: hidden;
  box-shadow: 0 -5px 50px -20px rgba(255, 255, 255, .05);
}

@media only screen and (min-width: 600px) {
  .DisplayMinimal {
    border-radius: 10px;
  }
}

.DisplayMinimal-title {
  width: 70%;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.4;
  text-transform: capitalize;
  text-align: center;
  color: #c9c9c9;
}