.Draw {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(120% 150% at 50% 20%, #414141, #1a1a1a 60%);
  overflow-x: hidden;
}

@media only screen and (min-height: 801px) {
  .Draw {
    padding-top: 10px;
  }
}

@media only screen and (min-height: 901px) {
  .Draw {
    padding-top: 24px;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: calc(100vh - var(--logo-height));
  padding: 10px 0;
}

@media only screen and (min-height: 650px) {
  main {
    padding: 5vh 0;
  }
}

@media only screen and (min-height: 801px) {
  main {
    height: calc(100vh - var(--logo-height) - 10px);
    padding: 7vh 0;
  }
}

@media only screen and (min-height: 901px) {
  main {
    height: calc(100vh - var(--logo-height) - 24px);
    padding: 12vh 0 8vh;
  }
}

@media only screen and (min-height: 1201px) {
  main {
    padding: 16vh 0 8vh;
  }
}


/* Mobile carousel [pure-react-carousel] */
@media only screen and (min-height: 801px) {
  .Carousel-box {
    display: none;
  }
}

.mobileCarousel {
  position: relative;
  display: flex;
  align-items: top;
  justify-content: center;
  height: 220px;
  margin: 0 auto;
  padding: 32px 24px;
}

.mobileCarousel-slider {
  width: 100%;
}

.mobileCarousel-buttons {
  position: absolute;
  bottom: -4px;
}

.mobileCarousel [type="button"] {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  color: #aaa;
  background-color: transparent;
  border: none;
  padding: 8px 4px;
}

.mobileCarousel [type="button"]:hover {
  color: #bbb;
}

.mobileCarousel [type="button"]:focus {
  outline: var(--focus-outline);
}

.mobileCarousel .carousel__back-button {
  margin-right: 24px;
}

.mobileCarousel [type="button"]:disabled {
  color: var(--btn-color-yellow); 
}

.mobileCarousel [type="button"]:disabled::after {
  display: inline;
  content: "\2022";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  font-size: 20px;
}


/* Progress Box - holding CurrentList and ProgressBar components */
.Progress-box {
  padding: 0 16px;
}

@media only screen and (max-height: 800px) {
  .Progress-box {
    display: none;
  }
}


/* Display Box - container holding Display component */
.Display-box {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 130px;
}

.Display-box .substitution {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #999;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.4;
  text-align: center;
  z-index: 2;
}


/* Play Box - container holding Buttons */
.Buttons-box {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 25vh;
  height: 150px;
  padding-bottom: 32px;
  z-index: 2;
}


/* Buttons */
.Draw-buttons {
  display: grid;
  grid-template-columns: repeat(3, 33.3333%);
  width: 86%;
  max-width: 400px;
}

.btn-draw {
  grid-column: 1 / 2;
  justify-self: start;
}

.btn-arrow {
  grid-column: 2 / 3;
  justify-self: center;
}

.Draw-buttons a { /* Link contains btn-choice */
  grid-column: 3 / 4;
  justify-self: end;
  text-decoration: none;
}

.btn-reload {
  grid-column: 2 / 3;
}

@media only screen and (min-height: 801px) {
  .Logo-box-mobile {
    display: none;
  }
}

@media only screen and (max-height: 800px) {
  .Logo-box-desktop {
    display: none;
  }
}