.Logo {
  grid-row: 1 / 2;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.Logo h1 {
  font-size: 18px;
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;
  color: #525252;
  text-shadow: -1px 1px 0 rgba(0, 0, 0, .55);
}