.SongsLeft {
  position: relative;
  width: 68%;
  max-width: 400px;
  margin: 24px auto 40px;
  font-size: 18px;
  font-weight: 300;
}

.SongsLeft span:nth-child(1) {
  font-weight: 400;
}

.SongsLeft span:nth-child(2) {
  color: #999;
}