:root {
  --btn-color-orange: #ba7226;
  --btn-color-yellow: #b19d2d;
  --btn-color-red: #c25026;
  --btn-color-green: #448735;
}

.Button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: linear-gradient(30deg, #464646, #1c1c1c);
  border: none;
  box-shadow: 0px -2px 1px -1px #595959, 0px 20px 12px -10px #000;
  transform: rotate(30deg);
  transition: box-shadow .15s;
}

@media only screen and (max-width: 375px) {
  .Button {
    transform: rotate(30deg) scale(.85);
  }
}

.Button:hover {
  cursor: pointer;
}

.Button:focus {
  outline: none;
}

.Button:active {
  background-image: linear-gradient(30deg, #464646, #1f1f1f);
  box-shadow: 0px -2px 2px -1px #595959, 0px 5px 12px -3px #000;
}

.Button:active .Button-middleBox {
  background-image: linear-gradient(30deg, #242424, #464646);
}

.Button:active .Button-coloredBox {
  -webkit-filter: saturate(200%);
          filter: saturate(200%);
}

.Button:active .Button-innerBox {
  -webkit-filter: saturate(20%);
          filter: saturate(20%);
}

#btn-draw:hover svg,
#btn-draw:focus-within svg,
#btn-draw:hover .Button-description,
#btn-draw:focus-within .Button-description {
  -webkit-filter: saturate(450%);
          filter: saturate(450%);
}

#btn-arrow:hover svg,
#btn-arrow:focus-within svg,
#btn-arrow:hover .Button-description,
#btn-arrow:focus-within .Button-description {
  -webkit-filter: saturate(700%);
          filter: saturate(700%);
}

#btn-reload:hover svg,
#btn-reload:focus-within svg,
#btn-reload:hover .Button-description,
#btn-reload:focus-within .Button-description {
  -webkit-filter: saturate(350%);
          filter: saturate(350%);
}

#btn-choice:hover svg,
#btn-choice:focus-within svg,
#btn-choice:hover .Button-description,
#btn-choice:focus-within .Button-description {
  -webkit-filter: saturate(300%);
          filter: saturate(300%);
}

.Button-middleBox { 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: linear-gradient(30deg, #222, #464646);
  transform: rotate(-30deg);
}

.Button-coloredBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  border-radius: 50%;
}

#btn-draw .Button-coloredBox {
  background-image: linear-gradient(30deg, #b8593d, #d3ac3a);
}

#btn-arrow .Button-coloredBox {
  background-image: linear-gradient(30deg, #6a5e07, #cdbd31);
}

#btn-choice .Button-coloredBox {
  background-image: linear-gradient(30deg, #853011, #ff703c);
}

#btn-reload .Button-coloredBox {
  background-image: linear-gradient(30deg, #026059, #428e33);
}

.Button-innerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-image: linear-gradient(30deg, #222, #595959);
}

.Button-iconBox svg {
  position: relative;
  height: 24px;
}

#btn-draw svg {
  transform: translate(1px, 1px);
  fill: var(--btn-color-orange);
}

#btn-arrow svg {
  height: 22px;
  fill: var(--btn-color-yellow);
}

#btn-choice svg {
  height: 22px;
  fill: var(--btn-color-red);
}

#btn-reload svg {
  height: 30px;
  transform: translate(1px, 1px);
  fill: var(--btn-color-green);
}

.Button-description {
  position: relative;
  font-size: calc(14px + 6 * ((100vw - 320px) / 640));
  line-height: 1;
  text-transform: uppercase;
  margin-top: 12px;
}

@media only screen and (min-width: 1000px) {
  .Button-description {
    font-size: 21px;
    margin-top: 18px;
  }
}

#btn-draw .Button-description {
  color: var(--btn-color-orange);
}

#btn-arrow .Button-description {
  color: var(--btn-color-yellow);
}

#btn-choice .Button-description {
  color: var(--btn-color-red);
}

#btn-reload .Button-description {
  color: var(--btn-color-green);
}