:root {
  --btn-color-orange: #b87c3d;
  --btn-color-yellow: #b19d2d;
  --btn-color-purple: #c73c3c;
  --btn-color-green: #448735;
}

.Button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: linear-gradient(45deg, #464646, #1c1c1c);
  border: none;
  box-shadow: 0px -2px 1px -1px #595959, 0px 20px 12px -10px #000;
  transform: rotate(45deg);
}

@media only screen and (max-width: 375px) {
  .Button {
    transform: rotate(45deg) scale(.85);
  }
}

.Button:hover {
  cursor: pointer;
}

.Button:focus {
  outline: none;
}

.Button:hover svg,
.Button:focus svg,
.Button:hover + .Button-description,
.Button:focus + .Button-description {
  filter: saturate(450%);
}

#btn-arrow:hover svg,
#btn-arrow:focus svg,
#btn-arrow:hover + .Button-description,
#btn-arrow:focus + .Button-description {
  filter: saturate(600%);
}

#btn-choice:hover svg,
#btn-choice:focus svg,
#btn-choice:hover + .Button-description,
#btn-choice:focus + .Button-description {
  filter: saturate(300%);
}

.Button-middleBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: linear-gradient(45deg, #222, #464646);
  transform: rotate(-45deg);
}

.Button-coloredBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  border-radius: 50%;
}

#btn-draw .Button-coloredBox {
  background-image: linear-gradient(45deg, #b8593d, #d3ac3a);
}

#btn-arrow .Button-coloredBox {
  background-image: linear-gradient(45deg, #5b540a, #c6b83a);
}

#btn-choice .Button-coloredBox {
  background-image: linear-gradient(45deg, #8a2121, #f03f3f);
}

#btn-reload .Button-coloredBox {
  background-image: linear-gradient(45deg, #026059, #428e33);
}

.Button-innerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-image: linear-gradient(45deg, #222, #595959);
}

.Button-iconBox svg {
  position: relative;
  height: 24px;
}

#btn-draw svg {
  transform: translate(1px, 1px);
  fill: var(--btn-color-orange);
}

#btn-arrow svg {
  height: 22px;
  fill: var(--btn-color-yellow);
}

#btn-choice svg {
  height: 22px;
  fill: var(--btn-color-purple);
}

#btn-reload svg {
  height: 30px;
  transform: translate(1px, 1px);
  fill: var(--btn-color-green);
}

.Button-description {
  font-size: calc(14px + 6 * ((100vw - 320px) / 640));
}

#btn-draw .Button-description {
  color: var(--btn-color-orange);
}

#btn-arrow .Button-description {
  color: var(--btn-color-yellow);
}

#btn-choice .Button-description {
  color: var(--btn-color-purple);
}

#btn-reload .Button-description {
  color: var(--btn-color-green);
}