.Logo {
  grid-row: 1 / 2;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 24px 16px;
}

.Logo h1 {
  font-size: 24px;
  letter-spacing: 1px;
  text-align: center;
  color: #525252;
  text-shadow: -1px 1px 0 rgba(0, 0, 0, .75);
}