.Play {

}

.Play-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  max-width: 900px;
  padding: 40px;
  margin: 36px auto;
  color: #fff;
  background-color: purple;
  border-radius: 5px;
  list-style-type: none;
  font-size: 18px;
  line-height: 1.8;
}

.Play-list > li {
  display: inline;
  position: relative;
}

.Play-list > li:not(:last-of-type) {
  margin-right: 20px;
}

.Play-list > li:not(:last-of-type)::after {
  display: inline;
  content: "\2022";
  position: absolute;
  left: calc(100% + 10px);
  transform: translateX(-50%);
  color: grey;
}

.Play-modal-visible,
.Play-modal-hidden {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  background-color: seagreen;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Play-modal-hidden {
  display: none;
}

.Play-modal-closeBtn {
  display: block;
  position: absolute;
  top: 3vh;
  right: 3vh;
  width: 6vh;
  min-width: 32px;
  height: 6vh;
  min-height: 32px;
}

.Play-modal-list {
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  margin: 10vh auto;
}

.Play-modal-list li {
  margin: 12px 0;
}

.Play-modal-list li button {
  display: block;
  width: 70%;
  max-width: 720px;
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  text-align: center;
  padding: calc(16px + 6 * ((100vw - 320px) / 1360));
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid white;
}