.Play {
  display: grid;
  grid-template-rows: min-content 1fr 25vh 25vh;
  width: 100%;
  height: 100vh;
  background-color: #1a1a1a;
  background-image: radial-gradient(120% 150% at 50% 20%, #414141, #1a1a1a 60%);
}

/* Song list */
.Play-list {
  grid-row: 2 / 3;
  align-self: center;
  width: fit-content;
  max-width: 60%;
  margin: 0 auto;
  border-radius: 5px;
  list-style-type: none;
  overflow: hidden;
}

.Play-list > li {
  display: inline;
  position: relative;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1020));
  font-weight: 300;
  line-height: 1.2;
  color: #888;
}

@media only screen and (min-width: 1000px) {
  .Play-list > li {
    font-size: 18px;
  }
}

.Play-list > li:not(:last-of-type) {
  margin-right: 6px;
}
/*
.Play-list > li:not(:last-of-type)::after {
  display: inline;
  content: "\2022";
  position: absolute;
  right: -10px;
  transform: translateX(-50%);
  color: red;
}
*/ 

.Play-dot {
  margin-right: 6px;
}

/* Buttons */
.Play-buttons {
  grid-row: 4 / 5;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 33.3333%);
  width: 90%;
  max-width: 500px;
  margin: 24px auto 40px auto;
}

#btn-draw {
  grid-column: 1 / 2;
}

#btn-arrow {
  grid-column: 2 / 3;
}

#btn-choice {
  grid-column: 3 / 4;
}

#btn-reload {
  grid-column: 2 / 3;
}

/* Modal */
.Play-modal-visible,
.Play-modal-hidden {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  background-color: seagreen;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Play-modal-hidden {
  display: none;
}

.Play-modal-closeBtn {
  display: block;
  position: absolute;
  top: 3vh;
  right: 3vh;
  width: 6vh;
  min-width: 32px;
  height: 6vh;
  min-height: 32px;
}

.Play-modal-list {
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  margin: 10vh auto;
}

.Play-modal-list li {
  margin: 12px 0;
}

.Play-modal-list li button {
  display: block;
  width: 70%;
  max-width: 720px;
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  text-align: center;
  padding: calc(16px + 6 * ((100vw - 320px) / 1360));
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid white;
}