.Play {
  width: 100%;
  height: 100vh;
  padding: 24px 16px;
  background-image: radial-gradient(120% 150% at 50% 20%, #414141, #1a1a1a 60%);
}

/* Mobile carousel */
.mobileCarousel {
  position: relative;
  top: 40px;
  display: flex;
  align-items: top;
  justify-content: center;
  height: 280px;
  padding: 16px;
}


.mobileCarousel-slider {
  width: 100%;
  height: 204px;
}


.mobileCarousel-slide {

}

.mobileCarousel .carousel__back-button,
.mobileCarousel .carousel__next-button {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 14px;
  text-transform: uppercase;
  color: #999;
  background-color: transparent;
  border: none;
  padding: 8px 4px;
}


.mobileCarousel .carousel__back-button {
  left: 35%;
}

.mobileCarousel .carousel__next-button {
  left: 65%;
}

.mobileCarousel [type="button"]:disabled {
  color: var(--btn-color-green);
}

.mobileCarousel [type="button"]:disabled::after {
  content: "\2022";
  position: absolute;
  left: 50%;
  top: -2px;
  transform: translate(-50%, -50%);
  font-size: 20px;
}


/* Play Box - container holding status bar, display and buttons */
.Play-box {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding-top: 24px;
  z-index: 2;
}

@media only screen and (max-width: 375px) {
  .Play-box {
    bottom: -6px;
  }
}

@media only screen and (min-height: 900px) {
  .Play-box {
    bottom: 3vh;
  }
}


/* Buttons */
.Play-buttons {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 33.3333%);
  width: 86%;
  max-width: 400px;
  margin: 20px auto 40px auto;
}

#btn-draw {
  grid-column: 1 / 2;
  justify-self: start;
}

#btn-arrow {
  grid-column: 2 / 3;
  justify-self: center;
}

#btn-choice {
  grid-column: 3 / 4;
  justify-self: end;
}

#btn-reload {
  grid-column: 2 / 3;
}


/* Modal */
.Play-modal-visible,
.Play-modal-hidden {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #1a1a1a;
  background-image: radial-gradient(120% 150% at 50% 20%, #414141, #1a1a1a 60%);
  z-index: 9999;
}

.Play-modal-hidden {
  display: none;
}


/* Modal close button */
.Play-modal-closeBtn {
  display: block;
  position: absolute;
  top: 4vh;
  right: 4vh;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  border: 2px solid rgba(184, 184, 184, .6);
}

.Play-modal-closeBtn:hover {
  cursor: pointer;
}

.Play-modal-closeBtn:hover {
  background-color: rgba(255, 255, 255, .05);
}

.Play-modal-closeBtn:active {
  border: 2px solid #2c9b15;
}

.Play-modal-closeBtn:hover .xBar {
  background-color: #2c9b15;
}

.Play-modal-closeBtn:hover .circle {
  background-color: #b8b8b8;
}

.Play-modal-closeBtn:hover .circle-left {
  margin-left: calc(100% - 2px);
}

.Play-modal-closeBtn:hover .circle-right {
  margin-left: 0;
}

.xBar {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 2px;
  background-color: #b8b8b8;
  border-radius: 10px;
  transition: all .65s cubic-bezier(.215,.61,.355,1);
}

.xBar-1 {
  transform: translate(-50%, -50%) rotate(45deg);
}

.xBar-2 {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.circle {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: transparent;
  transition: all .65s cubic-bezier(.215,.61,.355,1);
}

.circle-left {
  margin-left: 0;
}

.circle-right {
  margin-left: calc(100% - 4px);
}


/* Modal list */
.Play-modal-list {
  width: 100%;
  list-style-type: none;
  padding: 0 24px;
  padding-left: 0;
  margin: 14vh auto;
}

.Play-modal-list li {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 300px;
  max-width: 800px;
  margin: 12px auto;
}

/* Modal choose button */
.ModalList-chooseBtn {
  display: flex;
  align-items: center;
  width: 70%;
  max-width: 640px;
  background-color: transparent;
  padding: calc(16px + 6 * ((100vw - 320px) / 1360));
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #1d1d1d;
  border-radius: 3px;
}

.ModalList-chooseBtn:hover {
  cursor: pointer;
}

.ModalList-chooseBtn:hover {
  background-color: rgba(255, 255, 255, .05);
}

.ModalList-chooseBtn:hover .Play-circle {
  border: 2px solid #2c9b15;
}

.ModalList-chooseBtn:active .Play-circle div {
  background-color: #2c9b15;
}

.Play-circle {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #b8b8b8;
  margin-right: 16px;
}

@media only screen and (min-width: 600px) {
  .Play-circle {
    width: 20px;
    height: 20px;
    margin-right: 32px;
  }
}

@media only screen and (min-width: 1000px) {
  .Play-circle {
    width: 24px;
    height: 24px;
    margin-right: 48px;
  }
}

.Play-circle div {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: transparent;
}

.ModalList-chooseBtn p {
  flex: 0 1 auto;
  font-family: 'Roboto', sans-serif;
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  line-height: 1.4;
  font-weight: 300;
  text-align: left;
  text-transform: capitalize;
  color: #b8b8b8;
  padding: 0 16px;
}

@media only screen and (min-width: 1000px) {
  .ModalList-chooseBtn p {
    font-size: 24px;
  }
}

/* Modal remove button */
.ModalList-removeSongBtn {
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 12px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.ModalList-removeSongBtn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, .05);
}

.ModalList-removeSongBtn::before {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  background-color: #c20013;
  border-radius: 50%;
}

.ModalList-removeSongBtn::after {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 2px;
  background-color: #cecece;
  border-radius: 5px;
  z-index: 2;
}

@media only screen and (min-width: 600px) {
  .ModalList-removeSongBtn::before {
    width: 28px;
    height: 28px;
  }

  .ModalList-removeSongBtn::after {
    width: 14px;
  }
}

@media only screen and (min-width: 1000px) {
  .ModalList-removeSongBtn::before {
    width: 32px;
    height: 32px;
  }

  .ModalList-removeSongBtn::after {
    width: 16px;
  }
}